@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

* {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body {
  background-color: aliceblue;
}

.container {
  max-width: 100%;
}

.header {
  padding: 1em;
}

.project-container {
  padding: 1em;
}

.project {
  background-size: contain;
  display: block;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  border: none;
}

.project:hover {
  opacity: 0.5;
  text-decoration: none;
}

#petbnb {
  background-image: url("https://s3-us-west-1.amazonaws.com/shibbi-portfolio/petbnb.jpg");
}

#ashteroids {
  background-image: url("https://s3-us-west-1.amazonaws.com/shibbi-portfolio/ashteroids.jpg");
}

#tictactoe {
  background-image: url("https://s3-us-west-1.amazonaws.com/shibbi-portfolio/tictactoe.jpg");
}

.project .title {
  display: none;
  margin: 0 auto;
  padding: 6px;
  position: relative;
  top: 160px;
  width: 358px;
  background-color: rgba(95, 158, 160, 0.7);
  color: aliceblue;
  font-size: 1.5em;
  text-align: center;
}

.project .title.hover {
  display: block;
}

.desc {
  padding: 1em;
}

.footer {
  font-size: 1.5em;
}

.footer a {
  font-size: 1em;
}