@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

* { font-family: 'Raleway', cursive; }

body { background-color: aliceblue; }

.page-header {
  background-color: cadetblue;
  margin: 0;
  border: none;
  color: aliceblue;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

ul {
  margin: 20px;
  list-style: none;
}

.pull-left { float: left; }

li.thumbnail {
  margin: 20px;
  padding: 0;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

li a {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

li a .title {
  display: none;
  padding: 5px;
  position: relative;
  top: 180px;
  height: 40px;
  background-color: rgba(95, 158, 160, 0.7);
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

li a .title.hover {
  display: block;
}
